body{
    font-family: 'lato',sans-serif;
    display: flex;
    justify-content: center;
    background-image: url('background_img.avif');
    background-repeat: no-repeat;
    background-size: 110%;
    
}
.srh{
    display: flex;
    margin-top: 11px;
}
input{
    width: 200px;
    padding: 14px;
   border-radius: 16px;
   height: 8px;
   border:none;
   outline: none;
   font-size: 19px;
   background-color: lightblue;

}
::placeholder{
    color: black;
}
#city{
    margin-top: 33px;
    font-size: 33px;
}

button{
    width: 70px;
    height:35px;
    border-radius: 4px;
    border:none;
    outline:none;
    font-size: 18px;
    background-color: lightblue;
    margin-bottom: 10px;
    margin-inline: 9px;
}
.container{
    width:300px;
    padding: 22px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1%;
    background-color: #fff;
    height: 550px;
    background-image: url('background_img_2.jpg');
}
  img{
    width:300px;
    height: 250px;
    margin-top: -22px;

}

#city{

    font-size: 30px;
}
#temp{
    font-size: 40px;
    margin-top: -40px;
}
#type{
    font-size: 40px;
    margin-top: -30px;
}